form {
  &#subscribe, &#support {
    width: 100%;
    display: block;
    position: relative;
    @include box-sizing(border-box);
  }
  input, select { vertical-align: middle; }
  input[type="text"], input[type="email"],
  input[type="date"], input[type="tel"],
  input[type="url"], input[type="password"],
  input[type="number"], input[type="checkbox"] {
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    &.is-danger {
      border-color: $end_color;
      box-shadow: inset 0 1px 2px rgba(192, 57, 43, 0.1);
      -webkit-box-shadow: inset 0 1px 2px rgba(192, 57, 43, 0.1);
      -moz-box-shadow: inset 0 1px 2px rgba(192, 57, 43, 0.1);
      @include box-sizing(border-box);
    }
  }
  /*inputs*/
  input, textarea {
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1.1em;
    &.form-control {
      display: block;
      margin: 5px auto;
    }
  }
  input[type="checkbox"] {
    position: relative;
    width: auto;
    &:not(:checked) { box-shadow: 0px 1px 3px; }
    &:active, &:checked { background: rgba(0, 0, 0, .075); }
  }
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  input {
    @include box-sizing(border-box);
    margin: 0;
    padding: 5px 5px;
    &::placeholder {
      color: $gray-light;
    }
    &:focus {
      outline: none;
    }
  }
  textarea {
    width: 100%;
  }
}
label {
  font-size: normal;
  margin: 0 15px 10px 0;
  &.label {
    display: block;
    text-align: left;
  }
}
.bar {
  display: block;
  position: relative;
  width: 315px;
}
.bar:before, .bar:after {
  background: #2e60cd;
  content: '';
  height: 2px;
  position: absolute;
}
.float-input:focus ~ .bar:before, .float-input:focus ~ .bar:after {
  width: 100%;
}
@media screen and (max-width: 420px) {
  .float-input {
    width: 260px;
  }
  .bar {
    width: 275px;
  }
}

.multiselect {
  .multiselect__input {}
  .multiselect__content-wrapper {
    width: 100%;
    .multiselect__element {
      list-style: none;
      text-align: left;
      cursor: pointer;
      transition: 0.2s ease all;
      &:hover {
        background-color: #E2E2E2;
      }
      span {
        font-size: 1.2rem;

      }
    }
  }
  .multiselect__tag {
    background-color: $blue-light;
    .multiselect__tag-icon,
    .multiselect__tag-icon {
      &:hover, &:focus {
        background-color: $blue-lighter;
      }
    }
    span {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  .multiselect__option--highlight {
    background-color: $blue-light;
    background: $blue-light;
    color: #fff;
    &:after {
      background-color: $blue-light;
    }
  }
}

.first-user {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 5px 15px;
}
.second-user {
  display: inline-block;
  width: calc((((100% - 10px) / 2) * 1) + 0px);
  clear: both;
  margin-bottom: auto;
}
.third-user {
  width: 60%;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}
.fourth-user {
  width: 100%;
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.fifth-user {
  width: 33.33333%;
  float: left;
  position: relative;
  @include mobile {
    width: 100%;
    margin-top:15px;
  }
}
@include mobile {
  .first-user, .second-user {
		width: 100%;
		display: block;
		margin-bottom: 16px;
	}
	.fifth-user { width: 100%; }
}
